@font-face {
    font-family:Helvetica;
    src: url ("https://drive.google.com/file/d/1H9mUD3r-63xehEIbZIiEwJkFvGnMSk_y/view?usp=sharing");
}
@import url("https://drive.google.com/file/d/1H9mUD3r-63xehEIbZIiEwJkFvGnMSk_y/view?usp=sharing");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
}
body {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: #3857ff;

}
header.header {
    background-color: #ffffff;
    color: #3857ff;
    text-align:left;
    vertical-align:center;
}
footer {
    background-color: #ffffff;
    color: #3857ff;
}
.hero {
    margin: 150px 100px 150px 100px 
    
}
.footer {
    display: block;
}
img.logo {
    height: 20px;
    width: 20px; 
    vertical-align: middle;
}
ul {
    list-style: none; 
    margin:0px 25px; 
    
}
ul li {
    display: inline;
}
.styleButton {
    border: 2px solid #ffffff;
    line-height: 2;
    padding: 0px 20px 0px 20px;
    font-size: 1rem;
    text-align: center;
    align-items : center;
    color: #fff;
    border-radius: 50px;
    background-color: #3857ff;
}

.styled:hover {
    background-color: #ffffff
}

.styled:active {
    color: #ffffff;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 4px;
    margin: 10px 10px 10px 10px;
}
.sous-titre  {
    border : 1px solid #3857ff;
    padding : 15px;
}
.sous-titre1 {
    background-color: #3857ff;
    padding : 15px;
    color : #ffffff;
    border : 1px solid #3857ff;
}
.sous-titre3 {
    border: 1px solid #3857ff;
    padding: 50px 50px 50px 50px;
}
